<div id="<%= dom_id site_name_correction %>">
  <div>
    <strong>Domain:</strong>
    <%= site_name_correction.domain %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= site_name_correction.name %>
  </div>

</div>
