<% content_for :title, "Editing site name correction" %>

<%= render Forms::SiteNameCorrectionsComponent.new(@site_name_correction) %>

<br>

<div>
  <%= link_to "Show this site name correction", @site_name_correction %> |
  <%= link_to "Back to site name corrections", site_name_corrections_path %>
</div>
