<% content_for :title, "New site name correction" %>

<h1>New site name correction</h1>

<%= render "form", site_name_correction: @site_name_correction %>

<br>

<div>
  <%= link_to "Back to site name corrections", site_name_corrections_path %>
</div>
