<p style="color: green"><%= notice %></p>

<%= render ResourceCard::SiteNameCorrectionComponent.new(@site_name_correction) %>

<div>
  <%= link_to "Back to site name corrections", site_name_corrections_path %>
</div>
