<div class="container my-1 mx-1">
  <%= render Pagination::InfoComponent.new(@pagy) if @pagy %>
  <% @sentences.each do |sentence| %>
    <%= render Sentence::CardComponent.new(sentence, @word) %>
  <% end %>
</div>
<%= render Pagination::NaviComponent.new(@pagy) if @pagy %>
