<div class="container mt-4">
  <div class="card mt-3">
    <div class="card-body">
      <div class="card-title">
        <h5>
          <%= link_to target_sentence.article.title, article_path(target_sentence.article.uuid), class: "link-offset-1" %>
        </h5>
      </div>
      <% context_sentences.each do |sentence| %>
        <% if sentence.line_number == target_sentence.line_number %>
          <div class="bg-warning text-dark p-2 rounded">
            <strong><%= sentence.text %></strong>
          </div>
        <% else %>
          <div class="p-2">
            <%= sentence.text %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
