<div id="<%= dom_id article_collection %>">
  <div>
    <strong>Name:</strong>
    <%= article_collection.name %>
  </div>

  <div>
    <strong>Key:</strong>
    <%= article_collection.key %>
  </div>

</div>
