<p style="color: green"><%= notice %></p>

<% content_for :title, "Article collections" %>

<h1>Article collections</h1>

<div id="article_collections">
  <% @article_collections.each do |article_collection| %>
    <%= render ResourceCard::ArticleCollectionComponent.new(article_collection) %>
  <% end %>
</div>

<%= link_to "New article collection", new_article_collection_path %>
