<% content_for :title, "New article collection" %>

<%= render Shared::PageTitleComponent.new(title: "New article collection") %>

<%= render "form", article_collection: @article_collection %>

<br>

<div>
  <%= link_to "Back to article collections", article_collections_path %>
</div>
