<p style="color: green"><%= notice %></p>

<%= render ResourceCard::ArticleCollectionComponent.new(@article_collection) %>

<div>
  <%= link_to "Back to article collections", article_collections_path %>
</div>
