<% content_for :title, "Editing collection tag" %>

<h1>Editing collection tag</h1>

<%= render "form", collection_tag: @collection_tag %>

<br>

<div>
  <%= link_to "Show this collection tag", @collection_tag %> |
  <%= link_to "Back to collection tags", collection_tags_path %>
</div>
